
<body>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Apoyamos a los campesinos a que sus emprendimientos hagan presencia 
            en más hogares cada día </h1>
        <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
    
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-2 p-2">
                <h3>Cómo funciona?</h3>
            </div>
        </div>

    </div>
    
    
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">     
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">-1-</h2>
          <h2 class="display-5">Conoce las diferentes fincas</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda hic quam quisquam possimus itaque praesentium explicabo voluptate obcaecati debitis delectus ad cumque deleniti sint fugiat sit similique, eos ullam ex.</p>
        </div>
      </div>
    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">     
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
              <h2 class="display-5">-2-</h2>
            <h2 class="display-5">Ve a la tienda y selecciona los productos que desees</h2>
            <p class="lead">Ve a la tienda y selecciona los productos que desees, agregando cada uno al carrito de compras</p>
          </div>
        </div>
      </div>
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">     
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
              <h2 class="display-5">-3-</h2>
            <h2 class="display-5">Pago</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda hic quam quisquam possimus itaque praesentium explicabo voluptate obcaecati debitis delectus ad cumque deleniti sint fugiat sit similique, eos ullam ex.</p>
          </div>
        </div>
      </div>
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">     
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
              <h2 class="display-5">-4-</h2>
            <h2 class="display-5">Envío de los productos</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda hic quam quisquam possimus itaque praesentium explicabo voluptate obcaecati debitis delectus ad cumque deleniti sint fugiat sit similique, eos ullam ex.</p>
          </div>
        </div>
      </div>
    </body>