/* You can add global styles to this file, and also import other style files */
html,
body{
    height: 100%;
    font-size: 1rem;
}

.gradient {
    background: rgb(207, 241, 213);
background: linear-gradient(
    135deg,
    rgb(209, 107, 66) 0%,
    rgb(175, 123, 88) 80%,

);
}
.page-header{
    margin-top: 4rem;
    font-size: 1.25rem;
}