/* You can add global styles to this file, and also import other style files */
html,
body{
    height: 100%;
    font-size: 1rem;
}

gradient {
    background: rgb(0, 97, 12);
background: linear-gradient(
    135deg,
    rgb(209, 107, 66) 0%,
    rgb(175, 123, 88) 80%,

);
}